<div class="sticky-nav-wrapper">
    <nav class="sticky-nav width-100" ngStickyNav stickyClass="sticky-box-shadow">

        <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">

            <div fxLayout="column" fxFlex.lt-md="90" fxFlex="48" fxLayoutAlign="start start">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div fxFlexOffset.gt-sm="4em" fxLayout="column" fxFlex="20" fxLayoutAlign="start start">
                        <img src="assets/images/logo@2x.png" alt="bank-open-logo" class="bank-open-logo">

                    </div>

                </div>


            </div>
            <div fxLayout="column" fxFlex="48" fxFlex.md="70" fxHide fxShow.gt-sm fxLayoutAlign="end start"
                fxLayoutGap="1em">

                <div fxLayout="row" fxFlex="100" fxLayoutAlign="start center" fxLayoutGap="2em">
                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
                        <a href="#" class="nav-menu-item"> Products</a>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
                        <a href="#" class="nav-menu-item"> Solutions</a>
                    </div>

                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="1em">
                        <a href="#" class="nav-menu-item"> Pricing</a>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="end start">
                        <app-custom-button buttonText="Login">

                        </app-custom-button>

                    </div>

                    <div fxLayout="column" fxFlexOffset.gt-md="-1em" fxLayoutAlign="end start">
                        <app-custom-button buttonText="Get Started" buttonType="filled">

                        </app-custom-button>

                    </div>
                </div>

            </div>

        </div>

    </nav>
</div>