.benefit-card-icon {
  height: 75px;
  width: 75px;
}

.benefit-card-title {
}
.benefit-card-description {
  font-size: 15px;
  color: #999;
}

.benefit-card {
  min-width: 350px;
  min-height: 200px;
  background-color: #f9f9f9;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  padding: 2em;
}

.benefit-card-special {
  background-color: var(--light-purple);
  color: white;
}
