/* Add application styles & imports to this file! */

.bounds {
  background-color: #ddd;
  //   height: 800px;
}

.circle-background {
  position: absolute;
  right: 0;
  top: -45%;
  left: 40%;
  transform: scale(0.5);
}

.circle-left-background {
  position: absolute;
  position: absolute;
  top: 100px;
  left: -150px;
  transform: scale(0.5);
}
.sec1 {
  background: red;
  color: white;
  text-transform: uppercase;
}

.sec2 {
  background: yellow;
  color: blue;
}

.sec3 {
  background: blue;
  color: white;
  text-transform: uppercase;
}

.sec1,
.sec2,
.sec3 {
  padding-top: 20px;
  text-align: center;
}

.content {
  min-width: 300px;
  /*height: 400px;*/
  z-index: 1;
}

.black-line {
  height: 0.4em;
  width: 160px;
  background: #4e4d4d;
  border-radius: 50px;
  margin: 25px 0;
  margin-left: 4em;
}

.video-img {
  max-width: 65%;
}
.video-dots {
  position: relative;
  bottom: -200px;
  right: 250px;
  z-index: -1;
}
.video-dots-2 {
  position: relative;
  bottom: -500px;
  right: 350px;
  z-index: -1;
}

.section-padding {
  padding-left: 3em;
  padding-top: 4em;
}
.section-heading {
  width: 70%;
  margin: 0.2em 2em;
}
.calc-form {
  padding: 1.5em;
}
