/* Add application styles & imports to this file! */

.circle-background {
  position: absolute;
  right: 0;
  top: -52%;
  left: 35%;
  transform: scale(0.6);
}

.circle-left-background {
  position: absolute;
  position: absolute;
  top: 100px;
  left: -150px;
  transform: scale(0.5);
}
.sec1 {
  background: red;
  color: white;
  text-transform: uppercase;
}

.sec2 {
  background: yellow;
  color: blue;
}

.sec3 {
  background: blue;
  color: white;
  text-transform: uppercase;
}

.sec1,
.sec2,
.sec3 {
  padding-top: 20px;
  text-align: center;
}

.content {
  min-width: 300px;
  /*height: 400px;*/
  z-index: 1;
}

.video-img {
  max-width: 65%;
}
.video-dots {
  position: relative;
  bottom: -200px;
  right: 250px;
  z-index: -1;
}
.video-dots-2 {
  position: relative;
  bottom: -500px;
  right: 350px;
  z-index: -1;
}

.calc-form {
  padding: 1.5em;
}
