/* Add application styles & imports to this file! */

.bounds {
  background-color: #ddd;
  height: 800px;
}

.sec1 {
  background: red;
  color: white;
  text-transform: uppercase;
}

.sec2 {
  background: yellow;
  color: blue;
}

.sec3 {
  background: blue;
  color: white;
  text-transform: uppercase;
}

.sec1,
.sec2,
.sec3 {
  padding-top: 20px;
  text-align: center;
}

.content {
  min-width: 300px;
  /*height: 400px;*/
}

.black-line {
  margin: 2em 0;
  height: 0.4em;
  width: 120px;
  background: #4e4d4d;
  border-radius: 50px;
  margin: 25px 0;
}

.video-img {
  width: 65%;
}
.video-dots {
  position: relative;
  bottom: -76px;
  right: 100px;
}

.section-padding {
  padding-left: 3em;
  padding-top: 4em;
}
