<div>
    <div class="circles-parent relative-parent">
        <div class="circle-left-background">
            <div fxHide fxShow.gt-sm fxLayout="row" fxLayoutAlign="start start">
                <img src="assets/images/blob-small.svg" alt="circle-1" />
            </div>
        </div>
    </div>

    <div class="content" fxLayoutGap.sm="3em" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign.sm="center center"
        fxLayout.sm="column" fxLayoutAlign="center" fxFlex="100">
        <div fxFlex="48" fxFlex.sm="70" fxLayout="column" class="section1" fxFlex.xs="100">
            <div fxLayout="column" [ngClass.gt-md]="'section-padding'" fxLayoutAlign="start start"
                fxLayoutAlign.xs="center center">
                <div fxLayout="row" [ngClass.xs]="'width-75'" fxLayoutAlign="start start">
                    <h1 [ngClass.gt-xs]="'section-heading'">We make it Super Simple</h1>
                </div>
                <div class="black-line"></div>
                <div fxLayout="row" class="relative-parent" fxFlex.md="80" fxFlex.gt-md="80" fxFlex.xs="100"
                    fxLayoutAlign="start start" fxLayoutAlign.xs="center center">
                    <img id="video" class="video-img" src="assets/images/collect_img-video.png" alt="video" />
                    <img id="dots" class="video-dots" src="assets/images/accounting_dots.svg" alt="dots" />
                </div>
            </div>
        </div>

        <div fxFlex="48" fxFlex.sm="70" fxLayout="column" [ngClass.gt-md]="'section-padding'" class="section2"
            fxFlex.xs="100">
            <div fxHide fxShow.gt-sm class="circle-background">
                <div fxLayout="row" fxLayoutAlign="start start">
                    <img src="assets/images/circle.svg" alt="circle-1" />
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div fxLayout="row" fxLayout.xs="column" class="width-100 relative-parent" fxLayoutAlign="start start"
                    fxLayoutAlign.xs="center center">
                    <div fxLayout="column" class="card">
                        <h3 class="card-title">Eligibility calculator</h3>
                        <div class="calc-form" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="0.8em">
                            <div class="each-field">
                                <app-custom-slider [title]="'Monthly Income'" (sliderChanged)="calculateLoan($event)"
                                    [showMinMax]="true">
                                </app-custom-slider>
                            </div>

                            <div class="each-field">
                                <app-custom-slider [title]="'Monthly Expense'" (sliderChanged)="calculateLoan($event)"
                                    [showMinMax]="false" [max]="100000" [min]="10000">
                                </app-custom-slider>
                            </div>

                            <div class="each-field">
                                <div fxLayout="column" fxLayoutAlign="start start">
                                    <div fxLayout="row" fxLayoutAlign="start start">
                                        <label class="custom-label" for="cars">Repayment Tenure</label>
                                    </div>

                                    <div fxLayout="row" class="width-100" fxLayoutAlign="start start">
                                        <select class="custom-select width-100" name="cars" id="cars">
                                            <option value="3 months">3 months</option>
                                            <option value="6 months">6 months</option>
                                            <option value="9 months">9 months</option>
                                            <option value="12 months">12 months</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div fxLayout="row" class="width-100" fxLayoutAlign="space-between center">
                                <label class="custom-label" for="emi">Do you have any existing loans?</label>
                                <span>
                                    <label class="switch">
                                        <input class="apple-switch" type="checkbox" checked />
                                    </label>
                                </span>
                            </div>

                            <div fxLayout="row" fxLayoutAlign="start start">
                                <label class="custom-label" for=" emi">EMI of existing loan (optional)
                                </label>
                            </div>
                            <div fxLayout="row" class="width-100" fxLayoutAlign="space-between center">
                                <div class="width-100">
                                    <input type="text" name="emi" id="emi" placeholder="₹ 15000" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div fxLayout="column" class="height-100" fxLayoutAlign="center  center">
                        <div fxLayout="row" fxFlex="70" fxLayoutAlign="space-around center"
                            [ngClass.xs]="'card-side-small'" class="card-side">
                            <div fxLayout="column" fxLayoutAlign="space-evenly  center" fxLayoutGap="1em">
                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <h3 class="custom-white-medium-text">Loan amount</h3>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <p class="white-text loan-amount">
                                        ₹ {{ loanAmount | number }}
                                    </p>
                                </div>

                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <h3 class="custom-white-medium-text">Your EMI will be</h3>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="start start">
                                    <p class="white-text loan-amount">
                                        ₹ {{ emiAmount | number }}
                                    </p>
                                </div>
                                <app-custom-button buttonText="GET MONEY" buttonType="white">
                                </app-custom-button>
                            </div>
                        </div>
                    </div>

                    <img id="dots" class="video-dots-2" src="assets/images/accounting_dots.svg" alt="dots" />
                </div>
            </div>
        </div>
    </div>
</div>